{% extends parent_tempate|default:"buscador/base_buscador.html" %}

{% block title %}
{{ block.super }} - Buscador
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="container" id="forma">
        <div class="row">
            <div class="col-md-offset-4 col-md-4">
                <form  action="{% url 'buscador_ingresar_calle' %}" method="get">
                    <!--{% csrf_token %}-->
                    {{ form.non_field_errors }}
                    {% for field in form %}
                        <div class="form-group">
                            {{ field.errors }}
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field }}
                        </div>
                    {% endfor %}
                        <button type="submit" class="btn btn-default btn-blue btn-lg btn-block">Buscar</button>
                </form>
            </div>
        </div>
    </div>
</div>



{% endblock %}