{% extends parent_tempate|default:"buscador/base_buscador.html" %}

{% block title %}
{{ block.super }} - Buscador
{% endblock %}

{% block content %}


    <div class="container" id="forma">
        <div class="row">
            <div class="col-xs-12 col-sm-offset-4 col-sm-4 col-md-offset-4 col-md-4">
                <form  action="{% url 'buscador_tramo' %}" method="get">
                    <!--{% csrf_token %}-->
                    {% for error in form.non_field_errors %}
                    <div class="{% if error %}alert alert-danger{% endif %}">
                       <p class="text-center">{{ error }}</p>
                    </div>
                    {% endfor %}
                    {% for field in form %}
                        <div class="form-group {% if field.errors %}alert alert-danger{% endif %}">
                            {{ field.errors }}
                        </div>
                        <div class="form-group {%if field.errors %}has-error has-feedback{%endif%}">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field }}
                        </div>
                    {% endfor %}
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Buscar</button>
                </form>
            </div>
        </div>
    </div>


{% endblock %}