{% extends parent_tempate|default:"buscador/base_buscador.html" %}

{% block title %}
{{ block.super }} - Resultados
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="container" id="tabla">
        <div class="row">
            <div class="col-md-12">
                <div class="table_flow">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="bg-primary">
                                    <h4 class="text-center">Lugar</h4>
                                </th>
                                <th class="bg-primary">
                                    <h4 class="text-center">Fecha</h4>
                                </th>
                                <th class="bg-primary">
                                    <h4 class="text-center">Hora</h4>
                                </th>
                                <th class="bg-primary">
                                    <h4 class="text-center">Tipo de Calle</h4>
                                </th>
                                <th class="bg-primary">
                                    <h4 class="text-center">Participantes</h4>
                                </th>
                                <th class="bg-primary">
                                    <h4 class="text-center">Causa</h4>
                                </th>
                                <th class="bg-primary">
                                    <h4 class="text-center">Año</h4>
                                </th>
                            </tr>
                        </thead>
                        {% for item in items %}
                            <tr>
                                <td>{{ item.direccion_normalizada|title }}</td>
                                <td>{{ item.fecha|date:"d-m-Y" }}</td>
                                <td>{{ item.hora|time:"H:i" }}</td>
                                <td>{{ item.tipo_calle|title }}</td>
                                <td>{{ item.participantes|default_if_none:''|join:' - ' }}</td>
                                <td>{{ item.causa|title }}</td>
                                <td>{{ item.anio }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <div id="boton_csv">
                    <a href="{% url 'retornar_csv' %}"><button type="submit" class="btn btn-primary btn-lg btn-block">
                    Bajar CSV</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}