{% extends parent_template|default:"user/base_user.html" %}

{% block title %}
{{ block.super }} - Inicio
{% endblock %}

{% block content %}
   <div class="container" id="centro">
        <div class="row">
            <div class="col-xs-12 col-sm-offset-4 col-sm-4 col-md-offset-4 col-md-4">
                <div class="page-header">
                    <h1>Bienvenidos <br> <small>Novedades:</small></h1>
                </div>
                <!--panel nuevo:-->
                <!--<div class="panel panel-primary">-->
                <!--panel viejo:-->
                <!--<div class="panel panel-default">-->
                <!--panel importante-->
                <!--panel-danger sobreescrito en inicio.css-->

                <!--Panel-->
                <div class="panel panel-primary">
                  <div class="panel-heading">Cambio en columna "Tipo de Colisión"</div>
                      <div class="panel-body">
                          La columna Tipo de Colisión detalla
                          cuales fueron los vehículos intervinientes, en formato<br>
                          "vehículo víctima - vehículo acusado".
                      </div>
                </div>
                <div class="btn-group">
                    <a href="{% url 'buscador_ingresar_calle' %}" class="btn btn-danger btn-lg btn-block">Buscar por Intersección</a>
                    <a href="{% url 'buscador_tramo' %}" class="btn btn-primary btn-lg btn-block">Buscar por Tramo</a>
                </div>
            </div>
        </div>
   </div>
{% endblock %}