{% extends parent_template|default:"user/base_user.html" %}

{% block title %}
{{ block.super }} - Inicio
{% endblock %}

{% block content %}
   <div class="container" id="centro">
        <div class="row">
            <div class="col-xs-12 col-sm-offset-4 col-sm-4 col-md-offset-4 col-md-4">
                <div class="page-header">
                    <h1>Bienvenidos <br> <small>Novedades:</small></h1>
                </div>
                <!--panel nuevo:-->
                <!--<div class="panel panel-primary">-->
                <!--panel viejo:-->
                <!--<div class="panel panel-default">-->
                <!--Panel nuevo-->

                <!--Panel-->
                <!--panel-danger sobreescrito en inicio.css-->
                <div class="panel panel-danger">
                  <div class="panel-heading">Agregado Año 2016</div>
                      <div class="panel-body">
                          La búsqueda incluye ahora los siniestros correspondientes
                          al año 2016.
                      </div>
                </div>
                <!--Panel-->
                <div class="panel panel-primary">
                  <div class="panel-heading">Selector de Separador para CSV</div>
                      <div class="panel-body">
                          Permite seleccionar entre el separador usado para bajar el CSV.
                          Elegir un separador diferente si el CSV no se abre
                          correctamente en Excel.
                      </div>
                </div>
                <!--Panel-->
                <div class="panel panel-default">
                  <div class="panel-heading">Selector de Mapas Base</div>
                      <div class="panel-body">
                          Permite seleccionar entre el mapa base
                          de Carto (mas limpio) y el de Open Street Maps
                           (que contiene mas información).
                      </div>
                </div>
                <!--Panel-->
                <div class="panel panel-default">
                  <div class="panel-heading">Nuevo Icono para Homicidio</div>
                      <div class="panel-body">
                          Los casos de homicidio se distinguen con un ícono
                           rojo en el mapa.
                      </div>
                </div>
                <a href="{% url 'buscador_ingresar_calle' %}" class="btn btn-danger btn-lg btn-block">Realizar Búsqueda</a>
            </div>
        </div>
   </div>
{% endblock %}