body {
	font-size: 18px;
	line-height: 18px;
	font-weight: 200;
	background: #fff;
	font-family: "Helvetica", Georgia;
}

.btn-blue {
	background: #4287ee;
	color: #fff;
}

.container {
  padding: 100px;
}

.form-signin {
  max-width: 330px;

  margin: 0 auto;

}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 100px;
}

.space {
  padding: 15px;
}

li label {
  margin-left: 5px;

}
