body {
	font-size: 18px;
	line-height: 18px;
	font-weight: 200;
	background: #fff;
	font-family: "Helvetica", Georgia;
}

.btn-blue {
	background: #4287ee;
	color: #fff;
}

.form-signin {
  max-width: 400px;
  margin: 0 auto;

}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 100px;
}

.table_flow {
    height: 600px;
    overflow: auto;
}​

li label {
  margin-left: 5px;
}

#forma {
  margin-top: 150px;
}

#tabla {
  margin-top: 150px;
}