<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--bootstrap-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
              crossorigin="anonymous">
        <!-- JQuery-ui theme. Se pueden cambiar -->
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'user/inicio.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'buscador/style.css' %}" />
        <!--Leaflet-->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
        <!--Markercluster-->
        <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.Default.css" />
        <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.css" />


        <title>
            {% block title %}
                Buscador
            {% endblock %}
        </title>
    </head>
    <body>
          <nav class="navbar navbar-inverse navbar-fixed-top">
              <div class="container-fluid">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="{% url 'user_inicio' %}">OSV</a>
                </div>
                  <div id="navbar" class="navbar-collapse collapse">
                  <ul class="nav navbar-nav navbar-right">
                      <li><a href="{% url 'buscador_ingresar_calle' %}">Buscar por Intersección</a></li>
                      <li><a href="{% url 'buscador_tramo' %}">Buscar por Tramo</a></li>
                      <li><a href="{% url 'logout' %}"><strong>Cerrar Sesión</strong></a></li>
                  </ul>
                </div>
              </div>
            </nav>

        {% block content %}
            Contenido
        {% endblock %}

      <!-- FOOTER -->




        <!--JQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!--JQueryUi-->
        <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <!--bootstrap-->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
                crossorigin="anonymous">
        </script>
        <!--Leaflet-->
        <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
        <!--Leaflet.markercluster-->
        <script src="https://unpkg.com/leaflet.markercluster@1.0.3/dist/leaflet.markercluster.js" type="text/javascript"></script>
        <!--Leaflet.MarkerCluster.LayerSupport - Soporte para el control de layers en forma conjunta con MarkerCluster-->
        <script src="{% static 'buscador/leaflet.featuregroup.subgroup.js' %}"></script>
        <!--Moment.js-->
        <script src="{% static 'buscador/moment.js' %}"></script>
        <!--local scripts-->
        <script src="{% static 'buscador/autocomplete_calles.js' %}"></script>
        <script src="{% static 'buscador/helpers.js' %}"></script>
        <script src="{% static 'buscador/map.js' %}"></script>
    </body>
</html>